
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the "My UX Skills" section */
  .mySkills {
    background-image: linear-gradient(to top, #BEB6C6, #FAE6D7);
    padding: 20px;
  }
  
  /* Flex container for "My UX Skills" section */
.flexContainer {
    display: flex;
    justify-content: space-between;
  }
  
  /* Flex children (individual skills) */
  .flexContainer .flexChild {
    width: 33%;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Skill icon */
  .flexContainer .flexChild img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
  }
  
  /* Skill name/description */
  .flexContainer .flexChild h3 {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Paragraph about how the skill is used */
  .flexContainer .flexChild p {
    text-align: justify;
    margin-top: 10px;
  }
  
 /* Toolkit Image Grid */
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px;
    margin-top: 50px;
  }
  
  /* CSS Grid for "My Work" section */
  .workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "project1 project2"
      "project3";
    grid-gap: 20px;
  }
  
  /* Individual grid items (projects) */
  .workGrid div {
    padding: 10px;
    background-image: linear-gradient(to top, #FAE6D7, #BEB6C6);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Project title */
  .workGrid div h4 {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Project description */
  .workGrid div p {
    text-align: justify;
    max-width: 300px;
    margin-top: 30px;
    margin-left: 300px; 
  }
  
  /* "View Project" button */
  .workGrid div button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-color: #ffffff; 
    color: #7c7ca2; 
    border-color: #BEB6C6;
    border-radius: 20px; 
    padding: 10px 20px; 
    box-shadow: 2px 2px 4px #737397;
  }

  /* Project Image */
  .workGrid div img {
    display: block; 
    margin: 0 auto; 
  }
  
  /* "View all projects" text */
  .myWork h3 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Mobile media query */
@media screen and (max-width: 600px) {

  .flex-container {
    flex-direction: column;
  }
  
  .flex-item {
    width: 100%;
  }

  .grid-container {
    grid-template-areas: 
      "header"
      "main"
      "sidebar"
      "footer";
    
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
  }

  .workGrid div p {
    text-align: justify;
    margin-top: 30px;
  }
 
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
  }

}
